<div class="row">
    <!--<button type="button" class="btn btn-default pull-left" data-ng-click="add()">Add Game</button>
    <div class="panel panel-primary clearfix">
        <div class="panel-heading" style="font-size:medium">Games</div>
        <div class="panel-body">
            <ul class="list-group repeat-item" data-ng-repeat="dbgame in gameList">
                <li class="list-group-item clearfix">                 
                        <p class="pull-left ">test</p>
                        <span class="pull-right">
                            <button type="button" class="btn btn-default btn-xs glyphicon glyphicon-remove" aria-hidden="true" data-ng-click="removeTodoList(todoList)"></button>
                            <button type="button" class="btn btn-default btn-xs glyphicon glyphicon-edit" data-ng-click="removeTodoList(todoList)"></button>
                        </span>                 
                </li>                
            </ul>
        </div>    
    </div>-->

    <div class="row" style="margin-bottom:5px">
        <!--<button type="button" class="btn btn-default pull-left" data-ng-click="addPgn()">Add Game</button>-->        

        <label class="btn btn-primary pull-left" for="my-file-selector">
            <input id="my-file-selector" type="file" style="display:none;" accept=".pgn" on-read-file="addPgn($fileContent)">
            Add Game
        </label>

    </div>
    
   
    <div class="row">
        <ul class="list-group repeat-item" data-ng-repeat="dbgame in gameList" style="margin:0; width: 100%">
            <li class="list-group-item clearfix">

                <p class="pull-left ">{{dbgame.pgn}}</p>
                <div class="pull-right">
                    <button type="button" class="btn btn-default btn-xs glyphicon glyphicon-remove" data-ng-click="deletePgn(dbgame)"></button>
                    <button type="button" class="btn btn-default btn-xs glyphicon glyphicon-edit" data-ng-click="removeTodoList(todoList)"></button>
                </div>
            </li>
        </ul>
    </div>
</div>